{% extends 'panel_admin/base.html' %}


{% block title_page %}
<h1>Rechazar Tutoria Academica</h1>
<p>Se le esta rechazando la tutoria al alumno {{ object.student }}</p>

{% endblock %}


{% block main_content %}
<div class="form-group">
  <div class="col-md-12">
    <h4>Razón dada por el alumno</h4>
    <p>{{ object.reason }}</p>
    {% include 'panel_admin/form.html' %}
  </div>
</div>

{% endblock %}
