{% load i18n widget_tweaks %}
<div class="container">
  <div class="col-md-12">
    <form id="form" METHOD="post" ACTION="" enctype="multipart/form-data">
        {% csrf_token %}
        <strong class="text-center">Este cambio es irreversible ¿Desea continuar?</strong>
        <div class="text-center mt-4">
          <a onclick="window.history.back()" href="javascript:void(0)" class="btn btn-dark btn-back text-back">No, cancelar</a>
          <button type="submit" class="btn btn-danger">Si, continuar</button>
        </div>
    </form>
  </div>
</div>
