{% extends 'panel_admin/base.html' %}

{% block title_page %}
  <h1> Bienvenido
    {% if user.user_admin %}
        {{ user.user_admin.full_name }}
      {% elif user.is_superuser  %}
        {{ user.email }}
      {% endif %}
    </h1>
{% endblock %}

{% block main_content %}
<div class="text-center">
  <div class="row form-group justify-content-md-center pt-1">
   <div class="card-deck">
       <div class="card col-md-4">
         <div class="card-body">
           <h4 class="card-title"><strong>Profesores</strong></h4>
           <a href="{% url 'panel_admin:teachers:index' %}"><i class="text-tut fas fa-user-edit fa-7x"></i></a>
           <p class="card-text pt-3">Módulo de registro, consulta y/o modificación de profesores.</p>
         </div>
       </div>
       <div class="card col-md-4">
         <div class="card-body">
           <h4 class="card-title"><strong>Alumnos</strong></h4>
           <a href="{% url 'panel_admin:students:index' %}"><i class="text-tut fas fa-7x fa-user-tie"></i></a>
           <p class="card-text pt-3">Módulo de registro, consulta y/o modificación de alumnos.</p>
         </div>
       </div>
       <div class="card col-md-4">
         <div class="card-body">
           <h4 class="card-title"><strong>Grupos</strong></h4>
           <a href="{% url 'panel_admin:groups:index' %}"><i class="text-tut fas fa-7x fa-users"></i></a>
           <p class="card-text pt-3">Módulo de registro, consulta y/o modificación de grupos en tutoría grupal.</p>
         </div>
       </div>
   </div>
 </div>

 <div class="row form-group justify-content-md-center pt-2">
   <div class="card col-md-4">
         <div class="card-body">
           <h4 class="card-title"><strong>Tutorias</strong></h4>
           <a href="{% url 'panel_admin:tutorias:index' %}"><i class="text-tut fas fa-7x fa-chalkboard-teacher"></i></a>
           <p class="card-text pt-2">Módulo para ver solicitud de tutoría,todas sus modalidades, consulta y/o modificación.</p>
         </div>
</div>

 </div>
</div>
{% endblock %}
