<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'panel_admin:index' %}">
    {% if user.user_admin %}
      {{ user.user_admin.full_name }}
    {% elif user.is_superuser  %}
      {{ user.email }}
    {% endif %}
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        {% url 'panel_admin:teachers:index' as url %}
        {% if url == request.path %}
          <a class="nav-link active-tut" href="{{ url }}"><strong>Profesores</strong><span class="sr-only">(current)</span></a>
        {% else %}
          <a class="nav-link" href="{{ url }}">Profesores</a>
        {% endif %}
      </li>
      <li class="nav-item">
        {% url 'panel_admin:students:index' as url %}
        {% if url == request.path %}
        <a class="nav-link active-tut" href="{{ url }}"><strong>Alumnos</strong><span class="sr-only">(current)</span></a>
        {% else %}
        <a class="nav-link" href="{{ url }}">Alumnos</a>
        {% endif %}
      </li>
      <li class="nav-item">
        {% url 'panel_admin:groups:index' as url %}
        {% if url == request.path %}
        <a class="nav-link active-tut" href="{{ url }}"><strong>Grupos</strong><span class="sr-only">(current)</span></a>
        {% else  %}
        <a class="nav-link" href="{{ url }}">Grupos</a>
        {% endif %}
      </li>
      <li class="nav-item">
        {% url 'panel_admin:tutorias:index' as url %}
        {% if url == request.path %}
        <a class="nav-link active-tut" href="{{ url }}"><strong>Tutorias</strong><span class="sr-only">(current)</span></a>
        {% else  %}
        <a class="nav-link" href="{{ url }}">Tutorias</a>
        {% endif %}
      </li>
    </ul>
      <a href="{% url 'logout' %}" class="btn btn-outline-danger my-2 my-sm-0" type="submit">Cerrar Sesión</a>
  </div>
</nav>
