{% extends 'panel_student/base.html' %}


{% block title_page %}
<h1>Nueva solicitud de Tutoria Academica en situación de riesgo</h1>
<p>El alumno elige la materia y el personal administrativo le asigna el docente para asesoría académica de riesgo.</p>
{% endblock %}


{% block main_content %}
<div class="form-group">
  <div class="col-md-12">
    {% include 'panel_student/form.html' %}
  </div>
</div>

{% endblock %}
