{% load widget_tweaks %}

<div class="col-md-12 form-group">
  <form id="form" action="" method="get">
    <div class="row">
      {% for form in filter.form %}
        <div class="col-md-6">
          <div class="form-group">
            {{ form.label }}
          {{ form|add_class:"form-control" }}
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="float-right">
      <button href="javascript:void(0)" type="submit" class="btn btn-primary">Buscar</button>
    </div>
  </form>
</div>
