{% load i18n static widget_tweaks %}
<div class="container">
  <div class="col-md-12">
    <form id="form" METHOD="post" ACTION="" enctype="multipart/form-data">
        <div class="row mx-1">
            <div class="col-md-12">
             {% csrf_token %}

              {% for field in form %}
              <div class="row mt-4">
                  <label class="lead">
                      <span for="{{ field.id }}">{{ field.label }}
                              {% if field.field.required %}
                                  <span>*</span>
                              {% endif %}
                      </span>
                  </label>
                  {{ field|add_class:"form-control" }}
                  {% if field.help_text %}
                      <div class="alert alert-light" role="alert">{{ field.help_text }}</div>
                  {% endif %}

                  {% if field.errors %}
                      <span class="text text-danger">{{ field.errors }}</span>
                  {% endif %}
              </div>
              {% endfor %}
            </div>
        </div>
        <br>
        <div class="form-group text-center mt-4">
            <a onclick="window.history.back()" class="btn btn-danger mr-2 btn-back text-white"><i class="fas fa-times-circle fa-fw"></i> Cancelar</a>
            <button type="submit" class="btn btn-success"><i class="fas fa-check-circle fa-fw"></i> Guardar</button>
        </div>
    </form>
  </div>
</div>
