{% extends 'panel_teacher/base.html' %}


{% block title_page %}
<h1>Bienvenido {{ request.user.user_teacher  }}</h1>
{% endblock %}

{% block main_content %}

<div class="text-center">
  <div class="row form-group justify-content-md-center pt-5 mt-5">
   <div class="card-deck">
       <div class="card col-md-6">
         <div class="card-body">
           <h4 class="card-title"><strong>Tutorias</strong></h4>
           <a href="{% url 'panel_teacher:tutorias:index' %}"><i class="text-tut fa-7x fas fa-user-shield "></i></a>
           <p class="card-text pt-3">Aqui el docente podra ver sus tutorias asignadas, con status en progreso y las finalizadas, esto para llevar su debido control </p>
         </div>
       </div>
       <div class="card col-md-6">
         <div class="card-body">
           <h4 class="card-title"><strong>Biblioteca</strong></h4>
           <a href="{% url 'panel_teacher:tutorias:index-regularizacion' %}"><i class="text-tut fa-7x fas fa-book-reader"></i></a>
           <p class="card-text pt-3">Aqui el docente puede subir material didactivo por materias <span class="badge badge-warning">(En desarrollo, si nos da chance quedará mamalón)</span>
            </p>
         </div>
       </div>
   </div>
 </div>
</div>
{% endblock %}
