{% load static i18n  widget_tweaks %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta cherset="utf-8" >
    <meta http-equiv="X-UA-Comptible" content="IE-edge">
    <meta name="viewport" content="width-device-width, initial-scale-1">

<title>Formulario login</title>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet"/>

<link href="https://fonts.googleapis.com/css?family=Raleway:100,400&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">

</head>

<body>
  <style type="text/css">
    body {
        /* background-image: url('https://i.imgur.com/k80a75o.png'); */
        background: url({% static 'assets/image/verdura.jpg' %}) no-repeat center center fixed;
        background-size: cover;
         font-family:'Raleway';
         font-size: 20px;
         font-weight: 300;
         color: white;
         line-height: 30px;
         text-align: center;
        /* box-shadow: inset 0 0 0 2000px rgba(255, 255, 255, 0.64); */
    }
  </style>

<div class="my-content">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-3 myform-cont">
      <img src="{% static 'assets/image/ESIME_logo.png' %}" width="170" height="160"/>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-8 col-sm-offset-3 myform-cont">
        <h1 >Departamento de Tutorias ESIME ZAC</h1>
        <div class="mydescription">
          <p> Ingenieria en Comunicaciones y Electronica ICE </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-8 col-sm-offset-3 myform-cont">
        <div class="myform-top">
            <h3 >Bienvenid@</h3>
            <p >Digita tu usuario y contraseña</p>
        </div>
        <div class="myform-bottom">
          <form role="form" action="" method="POST" class="{% url 'login' %}">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="form-group"  id="usuario" >
              {{ form.email | add_class:"form-control" }}
            </div>

            <div class="form-group" id="contra">
               {{ form.password | add_class:"form-control"}}
            </div>
            <!-- form errors -->
            {% if form.errors %}
              <div class="card-panel red lighten-2 white-text">
                Credenciales incorrectas
              </div>
            {% endif %}

            <button  type="submit" class="mybtn">Entrar</button>
          </form>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-8 col-sm-offset-3  ">
        <a class="myregistrarse" href="{% url 'register-student' %}"><h3 >Registrarse</h3></a>
      </div>

    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
<script src="{% static 'assets/js/custom.js' %}" charset="utf-8"></script>

</body>
</html>
