{% extends 'panel_teacher/base.html' %}

{% block title_page %}
  <h1> Detalle de tutoria individual </h1>
{% endblock %}

{% block main_content %}

<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        Informacion General
      </div>
      <div class="card-body">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Profesor tutor: <span class="text-muted">{{ object.teacher_tutor }}</span></li>
        <li class="list-group-item">Materia: <span class="text-muted">{{ object.materia }}</span></li>
        <li class="list-group-item">Alumno tutado: <span class="text-muted">{{ object.student }}</span></li>
        <li class="list-group-item">Inicio: <span class="text-muted">{{ object.start }}</span></li>
        <li class="list-group-item">Hasta: <span class="text-muted">{{ object.end }}</span></li>
        <li class="list-group-item">Locación: <span class="text-muted">{{ object.location }}</span></li>

      </ul>
      </div>
      <div class="card-footer">
        {% if not object.is_finished %}
        <a class="btn btn-danger btn-sm" href="{% url 'panel_teacher:tutorias:finish-individual' object.pk %}">Finalizar</a>
        <a class="btn btn-warning btn-sm" href="{% url 'panel_teacher:tutorias:update-individual' object.pk %}">Editar</a>
        {% else %}
        <div class="alert alert-dark" role="alert">
          Esta tutoria ya ha finalizado
        </div>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">

        Informacion General
        <div class="float-right">
          {% if not object.is_finished %}
          <a class="btn btn-primary btn-sm" href="{% url 'panel_teacher:tutorias:note-individual' object.pk %}"><i class="fas fa-plus"></i></a>
          {% endif %}
        </div>
      </div>
      <div class="card-body">
      <ul class="list-group list-group-flush">
        {% for note in object.note_set.all %}
          <li class="list-group-item">{{ note.content }}</li>
        {% empty %}
          <li class="list-group-item">Sin Notas</li>
        {% endfor %}
      </ul>
      </div>
    </div>
  </div>
</div>


{% endblock %}
