{% extends 'panel_admin/base.html' %}


{% block title_page %}
<h1>Se dará por finalizado la tutoria</h1>
<p>Esta accion es irreversible, ¡Gracias!</p>
{% endblock %}


{% block main_content %}
<div class="form-group">
  <div class="col-md-12">
    {% include 'panel_admin/form.html' %}
  </div>
</div>

{% endblock %}
