{% extends 'panel_admin/base.html' %}


{% block title_page %}
<h1>Agregar Nota</h1>
{% endblock %}


{% block main_content %}
<div class="form-group">
  <div class="col-md-12">
    {% include 'panel_admin/form.html' %}
  </div>
</div>

{% endblock %}
