{% extends 'panel_student/base.html' %}


{% block title_page %}
<h1>Nueva solicitud de Tutoria entre pares</h1>
<p>El alumno elige la materia y el administrativo asignará un alumno</p>
{% endblock %}


{% block main_content %}
<div class="form-group">
  <div class="col-md-12">
    {% include 'panel_student/form.html' %}
  </div>
</div>

{% endblock %}
