<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">TUTORIAS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        {% url 'panel_student:index' as url %}
        {% if url == request.path %}
        <a class="nav-link active-tut" href="{{ url }}"><strong>Home</strong><span class="sr-only">(current)</span></a>
        {% else %}
        <a class="nav-link" href="{{ url }}">Home</a>
        {% endif %}
      </li>
      <li class="nav-item">
        {% url 'panel_student:tutorias:index' as url %}
        {% if url == request.path %}
        <a class="nav-link active-tut" href="{{ url }}"><strong>Tutorias</strong><span class="sr-only">(current)</span></a>
        {% else %}
        <a class="nav-link" href="{{ url }}">Tutorias</a>
        {% endif %}
      </li>
      <li class="nav-item">
        {% url 'panel_student:profile:detail' request.user.user_student.pk as url %}
        {% if url == request.path %}
        <a class="nav-link active-tut" href="{{ url }}"><strong>Mi perfil</strong><span class="sr-only">(current)</span></a>
        {% else %}
        <a class="nav-link" href="{{ url }}">Mi Perfil</a>
        {% endif %}
      </li>

    </ul>
      <a href="{% url 'logout' %}" class="btn btn-outline-danger my-2 my-sm-0" type="submit">Cerrar Sesión</a>
  </div>
</nav>
