{% extends 'panel_admin/base.html' %}

{% block title_page %}
  <h1> Mis tutorias entre pares </h1>
{% endblock %}

{% block main_content %}

  <div class="col-md-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Estudiante</th>
          <th scope="col">Materia</th>
          <th scope="col">Alumno Tutor</th>
          <th scope="col">Inicio</th>
          <th scope="col">Fin</th>
          <th scope="col">Localización</th>
          <th scope="col">Status</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for item in object_list %}
        <tr>
          <td>{{ item.student }}</td>
          <td>{{ item.materia|default_if_none:"N/A" }}</td>
          <td>{{ item.student_tutor|default_if_none:"N/A" }}</td>
          <td>{{ item.start|default_if_none:"N/A" }}</td>
          <td>{{ item.end|default_if_none:"N/A" }}</td>
          <td>{{ item.location|default_if_none:"N/A" }}</td>
          <td>
            {% if item.is_assigned %}
              <span class="badge badge-success">Aprobado</span>
            {% elif item.is_assigned == None %}
              <span class="badge badge-warning">No Asignado</span>
            {% else %}
              <span class="badge badge-danger">No Aprobado</span>
            {% endif %}
          </td>
          <td>
            {% if item.is_assigned == None %}
              <a class="btn btn-sm btn-outline-warning" href="{% url 'panel_admin:tutorias:approved-pares' item.pk %}"><i class="fas fa-edit">Aprobar</i></a>
              <a class="btn btn-sm btn-outline-danger" href="{% url 'panel_admin:tutorias:reject-pares' item.pk %}"><i class="fas fa-edit">Rechazar</i></a>
            {% endif %}
          </td>
        </tr>
        {% empty %}
        <tr>
          <td>No hay Solicitud de Tutorias</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
