{% extends 'panel_student/base.html' %}


{% block title_page %}
<h1>Editar la Tutoria individual</h1>
<p>El alumno elige al Docente para asesoría académica, administrativa o personal.</p>
{% endblock %}


{% block main_content %}
<div class="form-group">
  <div class="col-md-12">
    {% include 'panel_student/form.html' %}
  </div>
</div>

{% endblock %}
