{% extends 'panel_student/base.html' %}

{% block title_page %}
  <h1> Detalle de Tutoria Regularización</h1>
{% endblock %}

{% block main_content %}

<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        Informacion General
      </div>
      <div class="card-body">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Profesor tutor: <span class="text-muted">{{ object.teacher_tutor }}</span></li>
        <li class="list-group-item">Materia: <span class="text-muted">{{ object.materia }}</span></li>
        <li class="list-group-item">Alumno tutado: <span class="text-muted">{{ object.student }}</span></li>
        <li class="list-group-item">Inicio: <span class="text-muted">{{ object.start|default_if_none:"N/A" }}</span></li>
        <li class="list-group-item">Hasta: <span class="text-muted">{{ object.end|default_if_none:"N/A" }}</span></li>
        <li class="list-group-item">Locación: <span class="text-muted">{{ object.location|default_if_none:"N/A" }}</span></li>

      </ul>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        Notas
      </div>
      <div class="card-body">
      <ul class="list-group list-group-flush">
        {% for note in object.note_set.all %}
          <li class="list-group-item">{{ note.content }}</li>
        {% empty %}
          <li class="list-group-item">Sin Notas</li>
        {% endfor %}
      </ul>
      </div>
    </div>
  </div>
</div>

{% endblock %}
